#div-slider{
    margin: auto;
    width: 1200px;
    overflow: hidden;
    border: black solid 2px;
}
.container-slider{
   height: 400px;
   max-width: 400px;
  position: relative;
}
.slider{
  display: flex;
  width: 500%; /*Dependiendo de la cantidad de fotos el porcentaje varía 5=500% 3=300%*/
  height: 400px;
  margin-left: -100%;
}
.slider-section{
  width: 100%;
}
.slider-img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.boton-slider{
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  font-family: monospace;
  text-align: center;
  line-height: 50px;
  }
  .boton-slider:hover{
    background-color: rgb(255, 255, 255);
  }
  #boton-der{
    right: 5px;
  }
  #boton-izq{
    left: 5px;
  }
  .piedefoto{
    line-height: 30px;
    color: white;
    font-weight: bolder;
    margin-left: 10px;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.8);
  }